<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block metas %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% endblock %}
    <title>{% block title %}{{ clientName }} - WhiteCam{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/clients/{{ clientPublicDirectory }}/css/reset.css" type="text/css" media="screen,projection">
        <link rel="stylesheet" href="/clients/{{ clientPublicDirectory }}/css/estilos.css" type="text/css" media="screen,projection">
        <link rel="stylesheet" href="../clients/shared/css/custom-styles.css" type="text/css" media="screen,projection">
    {% endblock %}
</head>
<body>
    {% block bodyHeader %}
        <div class="box-header">
            <div class="header">
                <h1 class="logo-sitio"><a href="{{ clientURL }}" title="{{ clientURL }}">{{ clientURL }}</a></h1>
                <div class="tit-webcams">Webcams</div>

                <div class="logo-cum"><a href="#" title="Cumlouder.com">Cumlouder.com</a></div>

                <div class="menu">
                    <a href="#" title="Acceso a las Chicas en Directo">Acceso a las Chicas en Directo</a> <span>|</span>
                    <a href="#" title="Acceso Miembros">Acceso Miembros</a> <span>|</span>
                    <a href="#" title="Compra Créditos">Compra Créditos</a>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    {% endblock %}

    {% block bodyCamList %}
        <div class="listado-chicas">
            {% for block in blocks %}
                {% for key, cam in block['blockCamsList'] %}
                    {% if key != 5 %}
                        <div class="chica">
                            <a class="link" href="{{ clientJoinPageURL }}{{ cam.permalink }}/?nats={{ clientNatsWebcamsTracking }}" title="">
                                <span class="thumb"><img src="{{ clientThumbsURL }}{{ cam.thumbs[1] }}" width="175" height="150" alt="" title="" /></span>
                                <span class="nombre-chica"> <span class="ico-online"></span> {{ cam.nick }}</span>
                                <span id="favorito" class="ico-favorito" ></span>
                            </a>
                        </div>
                    {% else %}
                        <div class="chica chica-grande grande-{{ block['bigThumbPosition'] }}">
                            <a class="link" href="{{ clientJoinPageURL }}{{ cam.permalink }}/?nats={{ clientNatsWebcamsTracking }}" title="">
                                <span class="thumb"><img src="{{ clientThumbsURL }}{{ cam.thumbs[3] }}" width="357" height="307" alt="" title="" /></span>
                                <span class="nombre-chica"> <span class="ico-online"></span> {{ cam.nick }}</span>
                                <span id="favorito" class="ico-favorito" ></span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}

            <div class="clear"></div>
            <a class="btn-mas-modelos" href="#" title="Mostrar más modelos">Siguiente Página</a>
        </div>
    {% endblock %}

    {% block bodyFooter %}
        <div class="box-footer">
            <div class="menu">
                <a href="#" title="Acceso a las Chicas en Directo">Acceso a las Chicas en Directo</a> <span>|</span>
                <a href="#" title="Acceso Miembros">Acceso Miembros</a> <span>|</span>
                <a href="#" title="Compra Créditos">Compra Créditos</a>
            </div>
        </div>
    {% endblock %}

    {% block bodyCopy %}
        <div class="box-copy">
            <div class="menu">
                <p>Copyright © WAMCash Spain Todos los derechos reservados <span>|</span> <a href="#" title="Webmasters">Webmasters</a> </p>
                <p>Contenido para adultos <span>|</span> Tienes que tener mas de 18 años para poder visitarlo. Todas las modelos de esta web son mayores de edad.</p>
            </div>
        </div>
    {% endblock %}

    {% block bodyData %}
        <div class="box-data">
            <div class="menu">
                <a href="#" title="Soporte Epoch">Soporte Epoch</a> <span>|</span>
                <a href="#" title="18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</a> <span>|</span>
                <a href="#" title="Contacto">Contacto</a> <span>|</span>
                <a href="#" title="Please visit Epoch.com, our authorized sales agent">Please visit Epoch.com, our authorized sales agent</a>
            </div>
        </div>
    {% endblock %}
</body>
{% block javascripts %}
    <script src="../clients/shared/js/jquery/jquery-3.5.1.min.js" type=""></script>
    <script src="../clients/shared/js/simplemodal/jquery.simplemodal.1.4.4.min.js" type=""></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $(document).on('click','.chica', function(event) {
                if (this.firstElementChild.className === 'link') {
                    event.preventDefault();
                    $.modal('<iframe src="' + this.firstElementChild.href + '" height="685" width="980" style="border:0; padding:0; margin:0;" scrolling="no" frameborder="0" id="simplemodal-container">' +
                        '<div id="simplemodal-overlay" class="simplemodal-overlay"></div>', {
                        closeClass: "modalClose",
                        closeHTML: "<a href='#' class='simplemodal-close'><img src='//iw0.imgcm.com/css/join/images/ico-cerrar.gif'></a>",
                        overlayClose:true,
                    });
                }
            });
        });
    </script>
{% endblock %}
</html>