<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block metas %}{% endblock %}
    <title>{% block title %}Inicio{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% block body %}
        {{ msg }}
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>