#simplemodal-overlay {
    opacity: 0.5;
    height: 3362px;
    width: 988px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    background-color: #000;
    cursor: wait;
}

#simplemodal-container {
    color: #bbb;
    position: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(241, 239, 238);
    height: 610px;
    padding: 0;
    margin: 0;
    width: 980px;
    z-index: 1002;
    left: 0;
    top: 146.5px;
    overflow-y: hidden;
}

.simplemodal-close {
    position:absolute;
    right:10px; top:10px;
}

.simplemodal-wrap {
    overflow:hidden !important;
}